#menu{
	margin-top:50px;
}

#menufooter{
	text-align: center auto;
}

.verCom{
	float: right;
	margin-right: 22px;
	margin-top: -34px;
	font-size:12px;
}

.containerCat{
	margin-top:15px;
	padding-left:270px;
	width:620px;
}
.balanzCont{
	width:620px;
	margin-top: 15px;
	padding-top:10px;
}	


.maquinaCont{
	width:620px;
}
.marco{
	height: 180px;
	width:530px;
	margin-left:100px;
	border:1px solid #DC1D00;
	box-shadow: 2px 2px 0px #DC1D00;
	margin-bottom:18px;
}

.pic{
	
	height: 140px;
	width: 200px;
	margin-left:-100px;
	margin-top: 15px;
	
	border:1px solid #0066FF;
	box-shadow: 2px 2px 0px #0066FF;
	
	
}


.verComMaq{
	float: right;
	margin-right: 2px;
	margin-top: -33px;
	font-size:12px;
}

.verComRep{
	float: right;
	margin-right: 2px;
	margin-top: -33px;
	font-size:12px;
}

.nombre{
	margin-left:165px;
	margin-top: 25px;
	float:left;
	text-decoration:underline;
}

.imgEx{
	margin-top: -45px;
	float:left;
}



.description{

  text-align:justify;
  width:300px;
  float:right;
  margin-top:0px;
  margin-right:40px;
  font-weight:bold;
  }
 
 .leftmenu{
	display: block;
 }
 .leftmenu ul li ul li a:link, .leftmenu ul li ul li a:visited{
	display: block;
	width:202px;
	text-decoration:none;
	color: white;
	padding-left:35px;
	border:solid #7F5D36 1px;
	background-color:#CC9966;
	box-shadow: 3px 3px 0px #7F5D36;
}

.leftmenu ul li ul li a:hover{
	background-color:black;
}

.num{
	padding-left: 580px;
	
}