#container{
	height: 700px;
}

.container2{
	width: 606px;
	float:left;
}

#formulario{
	padding-left: 35px;
	font-size: 15px;
	text-align : left;
}

.der{
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-left: 35px;
	text-align : left;
}


.fila{
	padding-right: 10px;
}

.opc{
	font-size: 14px;
	padding-left: 20px;
	text-align : left;
}
#mapGoo{
	float: right;
	margin-left: 5px;
	padding-top:20px;
	padding-right: 20px;
	font-size:15px;
	width: 250px;
	height: 300px;
}

#formulario span{
	margin-right: 59px;
}

.radio{
	margin-left: 206px;
}

.ingreso{
	font-weight:hbld;
	height:20 px;
	width: 340px;
	font-size : 18 px;
	border : gray solid 2px;
}

#table1{
	margin-bottom: 30px;
}
#table2{
	margin-top: 30px;
}
#table2 td{
	vertical-align: top;
}
#mensaje{
	margin-left: 140px;
	font-weight:hbld;
	height: 140px;
	width: 250px;
}

	
.boton{
	margin-top: 10px;
	margin-left: 210px;
	margin-right: -200px;
	background-color : black;
	color:white;
}
#mapa{
	height: 220px;
	width: 250px;
	border: solid red 2px;
}