*{
	font-family: arial, sans-serif;
	color: black;

}

@font-face {
    font-family: "menufooterfont";
    src: url(Liberation.ttf);
}


body{
	background-color:#585858;
	background-image:url('images/fondo.jpg');
	background-position:center top;
	background-repeat:repeat;
	background: linear-gradient(top, black, white);
}

header{
	height:105px;
	margin-bottom:10px;
}

footer{
	padding:10px;
	margin: 10px auto;
	width:900px;
}

footer p{
	font-size:12px;
	color:white;
	margin:5px;
}

h1{
	font-family:georgia, times new roman;
	font-size:20px;
	background-color: #EDC189;
	color:white;
	position:relative;
	left:-30px;
	width:244px;
	text-shadow: 2px 2px 2px #7F5D36;  
	box-shadow: 3px 3px 0px #7F5D36;
	padding:5px;
	padding-left:30px;
	margin-top:0px;
	margin-bottom:0px;
}

#h1principal{
	font-size:22px;
	color:black;
	background-color:transparent;
	font-family: arial, sans-serif;
	padding:0px;
	margin:0px;
	left:0px;
	text-shadow:none;
	box-shadow:none;
	position:static;
}

h2{
	font-size:18px;
	clear:both;
	padding-top:30px;
	border-bottom:solid red 1px;
}


h3, h3 a:link, h3 a:visited{
	font-size:16px;
	text-decoration:none;
	color:#0066FF;
	margin-top:0px;
}

h3 a:hover{
	text-decoration:underline;
}

p{
	text-align:justify;
	font-size:13px;
}



#container{
 	width:900px;
	background-color:white;
	box-shadow:0px 0px 10px black;
	border-radius: 10px;
	padding:10px;
 	margin: auto;
}

#logo{
	float:left;
}

#infocontacto{
	margin-bottom:20px;
}

#infocontacto p{
	text-align:center;
}


#menu{
	background-color:black;
	border: solid black 1px;
	box-shadow: 2px 2px 0px black;
	height:30px;
	margin-top:55px;
	float:right;
}

#menu ul ul{
	position:absolute;
	display:none;
	list-style:none;
	font-size:12px;
}

#menu ul li:hover > ul{
	display:block;
}

#menu ul li ul{
	position:relative;
	width:145px;
}

#menu ul{
	font-family: Arial, sans-serif;
	font-size:16px;
	list-style: none;
	margin-top:0px;
	padding-left:0px;
	text-align:center;
}

#menu li{
	float: left;
}

#menu li a:link, #menu li a:visited{
	background-color:silver;
	display:block;
	width:145px;
	height:25px;
	text-decoration:none;
	text-shadow: 2px 2px 2px #666666;
	margin-right:1px;
	margin-left:1px;
	padding-top:5px;
	color:white;
	font-weight:bold;

}
#menu li a:hover{
	background-color:#DC1D00;
	color:white;
}


#slideinfo{
	padding:5px;
	height:70px;
	width:580px;
	border-top:solid white 1px;
}

#slideinfo h3{
	color: white;
}

#slideinfo p{
	color:white;
}

#intro{
	float: right;
	padding:10px;
	width:275px;
	height: 315px;
}

#novedades{
	width:920px;
	height:330px;
}


.boxeffect1{
	border:1px solid black;
	box-shadow: 2px 2px 0px black;
}


.imgleft{
	float:left;
	margin-right:10px;
}

.imgright{
	float:right;
	margin-left:10px;
}

.main{
	padding-bottom:20px;
}

.container2{

}

.containerRight{
	position: relative;
	width:625px;
	left:267px;
}

.leftmenu{
	position:absolute;
	margin-right:10px;
}

.leftmenu ul{
	list-style:none;
	margin:0px;
	padding-left:0px;
}

.leftmenu ul li a:link, .leftmenu ul li a:visited{
	color:white;
	display: block;
	width:227px;
	text-decoration:none;
	padding:10px;
	border:solid #7F5D36 1px;
	background-color:#664734;
	box-shadow: 3px 3px 0px #7F5D36;
}

.leftmenu ul li a:hover{
	background-color:black;
}

.h3a{
	color:red;
}

.nov{
	background-color:#F3F3F3;
	width:423px;
	height:140px;
	padding:10px;
	margin-right:10px;
	margin-top:10px;
	float:left;

}

.vmas, .vmas a:link, .vmas a:visited{
	text-align:right;
	text-decoration:none;
	color:red;
}

.vmas  a:hover{
	text-decoration:underline;
}
#menufooter{
	border-top:solid 1px white;
	border-bottom:solid 1px white;
	margin-top:10px;
	margin-bottom:10px;
	height:35px;
}

#menufooter ul{
	margin-top:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:160px;
	list-style:none;
}

#menufooter li{
	float:left;
	padding-right:20px;
}

#menufooter li a, #menufooter li a:visited{
	color:white;
	font-family:"menufooterfont", arial, sans-serif;
	text-decoration:none;
	font-size:20px;
}

#menufooter li a:hover{
	text-decoration:underline;
}

#creditos{

}

#creditos p{
	font-size:12px;

}

#cempresa{
	width:500px;

}

#cpagina{
	width:100px;
	float:right;
}